.syntaxhighlighter .line.run{
  background-color: #ddffdd !important;
  border-left: 2px solid #00ff00 !important;
}

.syntaxhighlighter .line.mis{
  background-color: #ffdddd !important;
  border-left: 2px solid #ff0000 !important;
}

.syntaxhighlighter {
    width: 500px;
    height: 800px;
    overflow-y: auto !important;
    overflow-x: auto !important;
}

.sidebar {
  width: 550px;
  height: 900px;
  overflow-y: auto !important;
  overflow-x: auto !important;
}

.sidebar-toggle-box {
    float: left;
    padding-right: 15px;
    padding-left: 10px;
    margin-top: 20px;
}

.sidebar-toggle-box .icon-reorder {
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
}

a.logo {
    font-size: 21px;
    color: #2e2e2e;
    float: left;
    margin-top: 15px;
    text-transform: uppercase;
}

a.logo:hover, a.logo:focus {
    text-decoration: none;
    outline: none;
}

.progress {
  margin-left: 20px;
}

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 550px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: absolute;
    left: 550px;
    width: 0;
    height: 900px;
    margin-left: -550px;
    overflow-y: auto;
    overflow-x: auto;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 550px;
}

#page-content-wrapper {
    
}

#wrapper.toggled #page-content-wrapper {

}

.navbar-top-links {
    margin-right: 0;
}

.navbar-top-links li {
    display: inline-block;
}

.navbar-top-links li:last-child {
    margin-right: 15px;
}

.navbar-top-links li a {
    padding: 15px;
    min-height: 50px;
}

.navbar-top-links .dropdown-menu li {
    display: block;
}

.navbar-top-links .dropdown-menu li:last-child {
    margin-right: 0;
}

.navbar-top-links .dropdown-menu li a {
    padding: 3px 20px;
    min-height: 0;
}

.navbar-top-links .dropdown-menu li a div {
    white-space: normal;
}

.navbar-top-links .dropdown-user {
    right: 0;
    left: auto;
}