.syntaxhighlighter .line.run{
  background-color: #ddffdd !important;
  border-left: 2px solid #00ff00 !important;
}

.syntaxhighlighter .line.mis{
  background-color: #ffdddd !important;
  border-left: 2px solid #ff0000 !important;
}