.table-test-result {
  width: 570px;
  height: 500px;
  overflow-y: auto !important;
  overflow-x: auto !important;
}

.table-test-result table{
  font:14px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#777;
  font-weight:300;
  border-collapse:collapse;
  width: 700px;
}