<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
	  <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="代码测试覆盖率查看工具">
    <meta name="author" content="ting.wu@corp.netease.com">
    <title>Dashboard for Code Coverage</title>
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/syntaxhighlighter/styles/shCoreDefault.css" rel="stylesheet">
    <link href="static/css/jquery.treegrid.css" rel="stylesheet">
    <link href="http://hs.nie.netease.com/static/admin/assets/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="static/css/index.css" rel="stylesheet">
	</head>
  <body>
    <nav class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="navbar-header">
          <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="sidebar-toggle-box">
            <div data-toggle="tooltip" title="Toggle Navigation" data-placement="right" class="icon-reorder tooltips" id="menu-toggle"></div>
          </div>
          <a class="logo" href="#">Dashboard</a>
        </div>
      <ul class="nav navbar-top-links navbar-right">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="icon-user" id="i-user-id" value="{{ userid }}"></i>
            {{ name }}
            <i class="icon-caret-down"></i>
          </a>
          <ul class="dropdown-menu dropdown-user">
            <li>
              <a href="#" id="btn-generate-report">
                <i class="icon-plus"></i> 生成报告
              </a>
            </li>
            <li>
              <a href="report.html" id="btn-show-reports" target="_blank">
                <i class="icon-file"></i> 我的报告
              </a>
            </li>
            <li>
              <a href="call_stack.html" target="_blank">
                <i class="icon-info"></i> 实验室
              </a>
            </li>
            <li class="divider"></li>
              <li>
                <a href="logout">
                  <i class="icon-sign-out"> Logout</i>
                </a>
              </li>
          </ul>
        </li>
      </ul>
      <div id="navbar" class="navbar-collapse collapse">
          <div class="navbar-form navbar-left">
            <input type="text" class="form-control" placeholder="测试服务器ip" id="txt-server-ip" value="localhost">
          </div>
          <div class="navbar-form navbar-left">
            <input type="text" class="form-control" placeholder="websocket端口号" id="txt-server-port" value="9000">
          </div>
          <div class="navbar-form navbar-left">
            <input type="text" class="form-control" placeholder="文件服务端口号" id="txt-file-server-port" value="5000">
          </div>
          <div class="navbar-form navbar-left">
            <button class="btn btn-primary" id="btn-connect" data-loading-text="连接中" data-complete-text="断开连接" data-error-text="连接失败">连接</button>
          </div>
      </div>
    </nav>
    <div id="wrapper" class="toggled">
      <div id="sidebar-wrapper">
        <table class="tree">
          <thead>
            <tr>
              <th class="col-md-6">文件名</th>
              <th class="col-md-2">代码行数</th>
              <th class="col-md-2">执行行数</th>
              <th class="col-md-2">覆盖率%</th>
            </tr>
          </thead>
          <tbody id="tree-body">
          
          </tbody>
        </table>
        <div class="input-group pull-right">
          <button id="show-file-selector-modal" class="btn-default btn pull-right"><span class="icon-plus"> 添加文件</span></a>
        </div>
      </div>
      <div id="page-content-wrapper">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-12">
              <div class="table-responsive">
                <table class="table-test-dashboard">
                  <thead>
                    <tr>
                      <th>Filename：</th>
                      <th>Revision</th>
                      <th>Coverage %</th>
                      <th>diff Revision</th>
                      <th>diff Coverage %</th>
                      <th>diff coverage result only</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td id="source-name"></td>
                      <td id="source-revision"></td>
                      <td id="source-cov"></td>
                      <td id="diff-revision">
                        <input class="form-control input-sm" type="text" placeholder="diff版本号" id="txt-diff-version">
                      </td>
                      <td id="diff-cov"></td>
                      <td>
                        <input type="checkbox" id="chk-show-diff">
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div id="source"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="modal fade" id="file-selector-modal" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <form class="form-horizontal">
            <div class="modal-header">
              <h4>选择测试文件</h4>
            </div> 
            <div class="modal-body modal-file-select">
              <div class="form-group">
                <div class="col-sm-12">
                  <input type="text" class="form-control" placeholder="Search" id="modal-file-search">
                </div>
              </div>
              <table id="file-selector">
              </table>
            </div>
            <div class="modal-footer">
              <a class="btn btn-primary" data-dismiss="modal" id="btn-trace-start">Start Trace</a>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="modal fade" id="test-confirm-dialog" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="form-horizontal">
            <div class="modal-header">
              <h4>保存测试报告</h4>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <label for="txt-test-name" class="col-md-2 control-label">测单名称</label>
                <div class="col-md-10">
                  <input type="text" class="form-control" id="txt-test-name" placeholder="给本次测试起个名字吧">
                </div>
              </div>
              <div class="table-test-result">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>文件名</th>
                      <th>代码行数</th>
                      <th>测试行数</th>
                      <th>覆盖率</th>
                    </tr>
                  </thead>
                  <tbody id="tb-test-result">
                  
                  </tbody>
                </table>
              </div>
            </div>
            <div class="modal-footer">
              <button class="btn btn-default" id="btn-confirm-test">确认</button>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="modal fade" id="revision-selector-modal" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="form-horizontal">
            <div class="modal-header">
              <h4>请选择diff的版本号</h4>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <label for="txt-logs-num" class="col-md-3 control-label">Log显示数目</label>
                <div class="col-md-6">
                  <input type="text" class="form-control" id="txt-logs-num" value="10">
                </div>
                <div class="col-md-3">
                  <button class="btn btn-default" id="btn-refresh-logs">刷新</button>
                </div>
              </div>
              <div class="table-revision-wrapper">
                <table class="table-revision table-hover">
                  <thead>
                    <tr>
                      <th class="col-md-2">版本号</th>
                      <th class="col-md-2">提交人</th>
                      <th class="col-md-4">提交日期</th>
                      <th class="col-md-4">注释</th>
                    </tr>
                  </thead>
                  <tbody id="tb-version-content"></tbody>
                </table>
              </div>
            </div>
            <div class="modal-footer">
              <button class="btn btn-default" id="btn-confirm-revision">确认</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="static/js/jquery.min.js"></script>
    <script type="text/javascript" src="static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="static/syntaxhighlighter/scripts/shCore.js"></script>
    <script type="text/javascript" src="static/syntaxhighlighter/scripts/shBrushPython.js"></script>
    <script type="text/javascript" src="static/js/jquery.treegrid.min.js"></script>
    <script type="text/javascript" src="static/js/index.js"></script>
  </body>
</html>