<html lang="zh-CN">
  <head>
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
  </head>
  
  <body>
    <button class="btn btn-default" id="test">aaa</button>
    <div id="test-confirm-dialog" class="hide">
      <div class="form-group">
        <label for="txt-test-name" class="col-md-2 control-label">测单名称</label>
        <div class="col-md-10">
          <input type="text" class="form-control" id="txt-test-name" placeholder="">
        </div>
      </div>
      <div class="col-sm-12">
        <table id="test-result"></table>
      </div>
    </div>
    <script type="text/javascript" src="../static/js/jquery.min.js"></script>
    <script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../static/js/jquery.bootstrap.min.js"></script>
    <script>
      $('#test').on('click', function(){
        $('#test-confirm-dialog').dialog({
          title: 'demo',
          onClose: function() { $(this).dialog("close"); },
          buttons: {
            "Close": function(){

            },
            "确定": function(){

            } 
          }
        });
      });
      
    </script>
  </body>
</html>